body{
    background:#EFEFEF;
    color: black; /*body字体颜色为黑色*/
    margin: 0;
}
a{
    color: inherit; /*颜色和爸爸颜色相同 继承*/
    text-decoration: none; /*取消下划线*/
}
* {
    margin: 0;
    padding: 0;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}

ul,ol {
    list-style: none; /*取消列表样式*/
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

/*写个类clearfix*/
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar {
    padding: 20px 0px 20px 0px;  /*上 右 下 左*/
    position: fixed;  /*脱离文档流*/
    top: 0;
    left: 0;
    width: 100%;
}
.topNavBar-inner {
    padding: 0 16px;
}
.topNavBar nav {
    padding-top: 7px;
}
.topNavBar nav > ul{
    list-style: none;  /*消除列表默认样式*/
    margin: 0;  /*消除默认margin*/
    padding: 0;  /* 消除默认padding*/
}
.topNavBar nav > ul > li{
    float: left;  /*使li浮动 横向布局*/
    margin-left: 17px; /*设置字体间距，根据经验推荐设置 li 标签*/
    margin-right: 17px;  /*设置字体间距，根据经验推荐设置 li 标签*/
}
.topNavBar nav > ul > li > a{
    font-size: 12px;  /*设置字体大小为12像素*/
    color: #b7b7bb;  /*设置字体颜色*/
    text-decoration: none;  /*取消下划线*/
    font-weight: bold; /*加粗字体*/
    border-bottom: 3px solid transparent;  /*设置透明色下边框，防止鼠标浮动出现边框字体抖动*/
    border-top: 3px solid transparent;
    padding-top: 5px;  /*设置内边距，控制鼠标浮动红线和字的距离*/
    padding-bottom: 5px;   /*设置内边距，控制鼠标浮动红线和字的距离*/
    display: block;  /*使a 标签被 li 标签包起来，高度一致*/
}
.topNavBar nav > ul > li > a:hover{
    border-bottom: 3px solid #e06567;  /*鼠标浮动出现红色下边框*/
}
.topNavBar .logo{
    font-size: 24px;
    font-family: "Arial Black";
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs{
    margin-right: 4px;
    color: #E6686A;
}
.topNavBar .logo .card{
    color: #9A9DA2;
}

.banner {
    height: 515px;
    background-image: url(./img/rs-cover.jpg); 
    background-position: center center;  /*使背景图居中*/
    background-size: cover; /*是背景图自适应 盖住所有面积 按比例缩放*/
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0,0, 0.8);
}

.userCard {
    max-width: 940px;  /*设置最大宽度*/
    margin-left: auto;  /*设置居中*/
    margin-right: auto;  /*设置居中*/
    background-color: #ffffff;
    margin-bottom: 100px;
}

.userCard .welcome {
    background-color: #E6686A;  /* 背景色 */
    color: white;  /* 字体颜色 */
    display: inline-block;  /* 改成inline-block元素 */
    /* width: 70px;   设置测量宽度 */
    /* height: 29px;   设置测量宽度 */
    /* line-height: 29px;   设置行高与高度一致 */
    /* text-align: center;   字体居中 */
    padding: 4px 16px; /*通过padding 使其居中并且补足宽高差 */
    line-height: 22px;  /*不同机器可能行高不一定一样*/
    position: relative; /*使三角形脱离文档流并且相对hello定位*/
    margin-bottom: 10px;
}

.userCard .welcome .triangle {
    display: block;  /*默认是span，变成div*/
    border: 10px solid transparent;
    width: 0px;  /*要写，宽度会自适应，自己查看区别*/
    height: 0px;  /*可以不写，没有text高度自然为0*/
    border-left-color: #E6686A; 
    border-top-width: 0;
    position: absolute;  /*使三角形脱离文档流并且相对hello定位*/
    left: 4px;  /* 调整三角形的位置 */
    top: 100%;  /* 调整三角形的位置 */
}

.userCard .picture {
    float: left;
}

.userCard .text {
    float: left;
    margin-left: 65px;
    width: 470px;  /*设置宽度，浮动元素会默认收缩*/
}

.userCard .text h1 {
    margin-top: 18px; /*格式化默认样式后 重新调整姓名和Hello之间的距离*/
}

.userCard .text p {
    margin-top: 1px; /*调整姓名和职位的间隔距离*/
}

.userCard .text hr {
    margin: 20px 0;  /*调整横线上下间隔距离*/
} 

.userCard .pictureAndText {
    padding: 50px;
}

.userCard dl dt,
.userCard dl dd {
    float: left;
    padding: 5px 0;   /*调整字体之间的垂直距离*/
}
.userCard dl dt {
    width: 30%;
    font-weight: bold;
}
.userCard dl dd {
    width: 70%;
    color: #9da0a7;
}
.userCard > footer.media {
    background: #E6686A;
    text-align: center;
}

.userCard > footer.media > a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.userCard > footer.media > a:hover {
    background: #CF5D5F;     /*设置鼠标悬停效果及颜色变化*/
}
.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top; /*改善上间隙小于下间隙的问题*/
}


















